main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 600px;
    padding: 32px 40px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
  }
  
main .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.login {
    width: 100%;
    max-width: 1000px;
    padding: 60px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}
